body{
    font-family: "Lato", sans-serif;
    background: linear-gradient( to right,   #c4e29f,#769353,#517223);
  }
  
    .sidebar {
    left:0;
    top: 1px;
    width:250px;
    height:100%;
    padding-top: 30px;
    background: linear-gradient( to right, #aece87,#5b7140);
  position: fixed;
  }
  .sidebar img{
    height: 40%;
     width: 80%;
     margin-left: 19px;
  }
  
  .sidebar a {
    padding-left: 25%;
    display: block;
    color: #2c4a02;
    font-size: 30px;
    text-decoration: none;
    font-weight: bolder;
  }
   
  .sidebar a.active {
    margin-left: 3px;
    border-radius: 2px;
    padding-top: 2%;
    background-color:#aece87;
    color:#ffffff;
  }
  .sidebar a:hover:not(.active) {
    text-align: center;
    margin-left: 3px;
    padding: 1px;
    border-radius: 2px;
    background-color:#b6cf92;
    color: rgb(226, 246, 214);
  }
  
  .logo{
    margin-left: 33%;
    float: left;
    color:#d0f0a5;
    font-weight: bolder;
    font-size:36px;
  }
.row{
    margin-left: 30%;
    padding:70px;
}
.column{
    margin: 4%;
}
.column img{
    margin-top: 7px;
    width: 250px;
    height: 70%;
}
.column img:hover{
   opacity: 1;
}



.container{
    margin-left: 38%;
    color: #849273;
    font-size: 20px;
}
.photos{
    width: 70%;
}
#imgtext{
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

.closebtn{
    position:absolute;
    top: 3px;
    left:43%;
    color: rgb(0, 0, 0);
    font-size: 35px;
    cursor: pointer;
}
h2{
    color: #1f2f09;
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
}
/*mobile view*/
@media  only screen and (max-width:800px),(max-width:700px),(max-width:600px),
(max-width:500px),(max-width:480px),(max-width:320px){
    .sidebar {
        top: 1px;
        width:100%;
        height: auto;
        background: linear-gradient( to right, #aece87,#5b7140);
        
      }
      
      .sidebar a {
        padding-left: 40%;
        display: block;
        color: #2c4a02;
        font-size: 15px;
        text-decoration: none;
        font-weight: bolder;
        display: block;
      }
       
      .sidebar a.active {
        margin-left: 3px;
      
        border-radius: 2px;
        padding-top: 3%;
        background-color:#aece87;
        color:#ffffff;
      }
      .sidebar a:hover:not(.active) {
        text-align: center;
        margin-left: 3px;
        padding: 2px;
        border-radius: 2px;
        background-color:#b6cf92;
        color: rgb(226, 246, 214);
      }
      .sidebar img{
        height: 35%;
         width: 30%;
        padding-left: 30%;
      }
  .container{
    margin-left: 20%;
    color: #849273;
    font-size: 20px;
}
.photos{
    width: 100%;
}
.row{
    margin-top: 50%;
    margin-left: 5%;
    padding:30px;
}
.column{
    margin: 4%;
}
  }